{% extends 'car_rental/layouts/dashboard_base.html' %}
{% load i18n allauth static %}

{% block head_title %}
  {% trans "Cars" %}
{% endblock head_title %}

{% block extra_head %}
<style>
  .info-pill {
    min-width: fit-content;
  }
  #id_day_cost_1{
    display: none;
  }
</style>
{% endblock extra_head %}

{% block content %}
  <div class="row">
    <div class="col-12 col-md-3 my-3">
      <button class="btn btn-primary px-5 text-nowrap" data-bs-toggle="modal" data-bs-target="#car-modal">
        {% trans "Add car" %}
      </button>
    </div>
  </div>

  <div class="bg-body-secondary rounded p-2 mb-5">
    <div class="row row-cols-1 gy-2 mt-2">
      {% for car in object_list %}
        <a class="col text-decoration-none px-0" href="{% url 'dashboard_car_update' car.pk %}">
          <div class="bg-body-tertiary rounded p-2 mx-2 text-white">
            <div class="row">
              <!-- Info section -->
              <div class="col-12 col-md-8">
                <h3 class="fw-normal mb-3">
                  {{ car.brand }} {{ car.model }}
                </h3>
                <div class="d-flex flex-row text-center gap-2 flex-wrap text-nowrap">
                  <p class="rounded-pill info-pill bg-primary px-2 col" data-bs-toggle="tooltip" data-bs-placement="top"
                    data-bs-title="{% trans 'Year of production' %}">
                    {{ car.production_year }}
                  </p>
                  <p class="rounded-pill info-pill bg-secondary px-2 col" data-bs-toggle="tooltip" data-bs-placement="top"
                    data-bs-title="{% trans 'Engine capacity' %}">
                    {{ car.engine_capacity }}
                  </p>
                  <p class="rounded-pill info-pill bg-secondary px-2 col" data-bs-toggle="tooltip" data-bs-placement="top"
                    data-bs-title="{% trans 'Engine power' %}">
                    {{ car.engine_power}}
                  </p>
                  <p class="rounded-pill info-pill bg-secondary px-2 col" data-bs-toggle="tooltip" data-bs-placement="top"
                    data-bs-title="{% trans 'Day cost' %}">
                    {{ car.day_cost.amount }} {{ car.day_cost.currency }}
                  </p>
                  <p class="rounded-pill info-pill
                    {% if car.status == 'AV' %} bg-success 
                    {% elif car.status == 'UN' %} bg-danger 
                    {% elif car.status == 'MA' %} bg-warning text-black
                    {% elif car.status == 'RE' %} bg-info text-black
                    {% endif %} px-2 col-12 col-md"
                    data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{% trans 'Status' %}">
                    {{ car.get_status_display }}
                  </p>
                </div>
              </div>

              <!-- Picture section -->
              <div class="col-12 offset-md-1 col-md-3 d-flex justify-content-md-end justify-content-center">
                {% if car.car_picture %}
                  <img src="{{ car.car_picture.url }}" alt="Car picture" class="img-thumbnail" width="150px" height="150px" style="min-width: 150px;">
                {% else %}
                  <img src="{% static 'img/car_pictures/default_car.png' %}" alt="Car picture" class="img-thumbnail" width="150px" height="150px" style="min-width: 150px;">
                {% endif %}
              </div>

            </div>
          </div>
        </a>
      {% endfor %}
    </div>
    {% include 'car_rental/dashboard/pagination.html' %}
  </div>
  {% include 'car_rental/dashboard/modals/car_modal.html' %}
{% endblock content %}

{% block extra_body %}
  <script src="{% static 'js/car_rental/dashboard/car_create.js' %}"></script>
  <script src="{% static 'bootstrap/js/tooltips.js' %}"></script>
{% endblock extra_body %}