{% extends "car_rental/layouts/main_base.html" %}
{% load i18n static %}
{% block head_title %}
  {% trans 'Long term rental' %}
{% endblock head_title %}

{% block content %}
  <div class="container my-5">
    <div class="row bg-body p-3 pb-4 rounded">
      <div class="row gy-3">
        {% if request.user.is_authenticated %}
        <form method="post" class="col-12 col-md-6">
          <h3 class="mb-3">{% trans 'Personal offer' %}</h3>
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="d-flex flex-column align-items-center">
              <div class="w-100">
                {{ form.start_date.errors }}
                <div class="form-floating mb-3">
                  {{ form.start_date }}
                  {{ form.start_date.label_tag }}
                </div>
                {{ form.number_of_months.errors }}
                <div class="form-floating mb-3">
                  {{ form.number_of_months }}
                  {{ form.number_of_months.label_tag }}
                </div>
                {{ form.message.errors }}
                <div class="form-floating mb-3">
                  {{ form.message }}
                  {{ form.message.label_tag }}
                </div>
              </div>
              <button type="submit" class="btn btn-secondary col-12 col-md-6">
                {% trans "Send" %}
              </button>
            </div>
          </form>
        {% endif %}
        <div class="col-12 col-md-6">
          <a class="mb-3" href="{% url 'contact' %}">{% trans 'Direct contact' %}</a>
          <p>
            Lorem ipsum dolor sit,
            amet consectetur adipisicing elit. Pariatur cumque dolorem quam quibusdam dignissimos ut quisquam. Rerum recusandae, laudantium ab impedit repudiandae enim suscipit mollitia sequi ipsum quibusdam aliquam fugiat.
          </p>
        </div>             
      </div>
    </div>
  </div>
{% endblock content %}
