{% extends "car_rental/layouts/main_base.html" %}
{% load i18n static bleach_tags %}
{% block head_title %}
  {{ object.title }}
{% endblock head_title %}

{% block content %}
<div class="container my-5">
  <div class="row gy-3">

    <div class="col-12 col-md-8 py-4 px-3 bg-body rounded">
      <div style="min-width: 250px; min-height: 250px;">
        {% if object.main_picture %}
          <img src="{{ object.main_picture.url }}" class="img-thumbnail" alt="{{ object.title }}">
        {% else %}
          <img src="{% static 'img/news_pictures/news.png' %}" class="img-thumbnail" alt="{{ object.title }}">
        {% endif %}
      </div>
      <h2 class="fw-normal my-3 text-break">
        {{ object.title }}
      </h2>
      <small>{{ object.add_date|date:"Y-m-d H:i" }}</small>
      <p class="my-3 text-break">
        {{ object.description|bleach }}
      </p>
    </div>

    <div class="col-12 col-md-4 pb-4 px-3">
      <!-- Previous/next news -->
      {% if previous_news %}
        <div>
          <p class="text-center">{% trans 'Previous news:' %}</p>
          {% with news=previous_news %}
            {% include 'car_rental/main/_partials/news_card.html' %}
          {% endwith %}
        </div>
      {% endif %}
        
      {% if next_news %}
        <div class="pt-3">
          <p class="text-center">{% trans 'Next news:' %}</p>
          {% with news=next_news %}
            {% include 'car_rental/main/_partials/news_card.html' %}
          {% endwith %}
        </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}