{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
  {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
<div class="row">
  <div class="col-12 col-md-6 offset-md-3 my-5">
    {% element h1 %}
      {% if token_fail %}
        {% trans "Bad Token" %}
      {% else %}
        {% trans "Change Password" %}
      {% endif %}
    {% endelement %}
    {% if token_fail %}
      {% url 'account_reset_password' as passwd_reset_url %}
      <p>
        {% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}
      </p>
    {% else %}
      {% element form form=form method="post" action=action_url %}
        {% slot body %}
          {% csrf_token %}
          {{ form.non_field_errors }}
          {{ form.password1.errors }}
          <div class="form-floating">
            {{ form.password1 }}
            {{ form.password1.label_tag }}
          </div>
          {{ form.password2.errors }}
          <div class="form-floating my-3">
            {{ form.password2 }}
            {{ form.password2.label_tag }}
          </div>
        {% endslot %}
        {% slot actions %}
          <button type="submit" class="btn btn-primary w-100">
            {% trans 'Change Password' %}
          </button>
        {% endslot %}
      {% endelement %}
    {% endif %}
  </div>
</div>
{% endblock content %}
