# Database
DATABASE_HOST=localhost
DATABASE_NAME=database
DATABASE_USER=postgres
DATABASE_PASS=postgres
DATABASE_PORT=5432

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=@gmail.com
EMAIL_HOST_PASSWORD=