{% extends 'car_rental/layouts/dashboard_base.html' %}
{% load i18n allauth static %}

{% block head_title %}
  {% trans "Contact update" %}
{% endblock head_title %}

{% block content %}
<div class="bg-body-secondary rounded p-2 col-12 col-md-10 offset-md-1">

  <h3 class="fw-normal mb-3">
    {{ object.user }} {{ object.get_category_display }}
  </h3>

  <div class="row">

    <div class="col-12 col-md-6">
      <div class="bg-body rounded p-3">
        <form method="POST" class="my-3 px-2 w-100" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.non_field_errors }}
          {% for field in form %}
            <div class="form-floating mb-3">
              {{ field }}
              {{ field.label_tag }}
            </div>
          {% endfor %}
          <div class="col-12 col-md-6 offset-md-3 text-center">
            <button type="submit" class="btn btn-primary w-100">
              {% trans "Confirm changes" %}
            </button>
          </div>
        </form>
      </div>
    </div>

    {% include 'car_rental/dashboard/_partials/user_info.html' %}

  </div>
</div>
{% endblock content %}