{% extends 'car_rental/layouts/dashboard_base.html' %}
{% load i18n allauth static %}

{% block head_title %}
  {% trans "Contact update" %}
{% endblock head_title %}

{% block content %}
<div class="bg-body-secondary rounded p-2 col-12 col-md-10 offset-md-1">

  <h3 class="fw-normal mb-3">
    {{ object.user }} {{ object.get_category_display }}
  </h3>

  <div class="row">

    <div class="col-12 col-md-6">
      <div class="bg-body rounded p-3">
        <form method="POST" class="my-3 px-2 w-100" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.non_field_errors }}
          {% for field in form %}
            <div class="form-floating mb-3">
              {{ field }}
              {{ field.label_tag }}
            </div>
          {% endfor %}
          <div class="col-12 col-md-6 offset-md-3 text-center">
            <button type="submit" class="btn btn-primary w-100">
              {% trans "Confirm changes" %}
            </button>
          </div>
        </form>
      </div>
    </div>

    {% with object.user as person %}
    <div class="col-12 col-md-6">
      <div class="bg-body rounded p-3">
        <h3 class="fw-normal mb-3">
          {% trans 'User' %}: {{ person }}
        </h3>
        {% if person.profile_picture %}
          <img src="{{ person.profile_picture.url }}" alt="Profile picture" class="mb-3" height="100" width="100">
        {% endif %}
        <p>
          {% trans 'Name' %}: <b>{{ person.first_name }} {{ person.last_name }}</b>
        </p>
        <p>
          {% trans 'Email address' %}: <b>{{ person.email }}</b>
        </p>
        <p>
          {% trans 'Phone number' %}: <b>{{ person.phone_number }}</b>
        </p>
        {% if person.address %}
          <p>
            {% trans 'Address' %}: <b>{{ person.address }}</b>
          </p>
        {% endif %}
      </div>
    </div>
    {% endwith %}

  </div>
</div>
{% endblock content %}