{% extends "car_rental/layouts/main_base.html" %}
{% load i18n static %}
{% block head_title %}
  {% trans 'Rental for days' %}
{% endblock head_title %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/main/car.css' %}">
{{ wizard.form.media }}
{% endblock extra_head %}

{% block content %}
<div class="container my-5">
  <h5>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</h5>
  <form method="POST">
    {% csrf_token %}
    <div>
      {{ wizard.management_form }}
      {% if wizard.form.forms %}
        {{ wizard.form.management_form }}
        {% for form in wizard.form.forms %}
          {{ form.as_table }}
        {% endfor %}
      {% else %}
        <div class="row bg-body p-2 pb-4 rounded">
          {% if wizard.form.car.field.queryset.count > 0 %}
          <h3>{% trans 'Select a car:' %}</h3>
          {{ wizard.form.car.errors }}
            <div class="col">
              <div class="row row-cols-1 row-cols-md-2" id="id_car-car">
                {% for car in wizard.form.car.field.queryset %}
                  {% include 'car_rental/main/_partials/car_card.html' %}
                {% endfor %}
              </div>
            </div>
          {% else %}
            <div>
              <h2>{% trans 'No cars available' %}</h2>
            </div>
          {% endif %}
        </div>
      {% endif %}
    </div>
    {% include 'car_rental/main/car_rental_days/wizard_nav.html' %}
    {% if wizard.form.car.field.queryset.count > 0 %}
      <div class="col-12 col-md-6 offset-md-3 mt-3">
        <button class="btn btn-secondary w-100" type="submit">{% trans 'Choose' %}</button>
      </div>
    {% endif %}
  </form>
</div>
{% endblock content %}