{% load i18n %}
{% load allauth account socialaccount %}

<div class="container">
  <nav class="navbar navbar-expand-xl fixed-top bg-body-tertiary border-bottom">
    <div class="container">
      <a href="{% url 'home' %}" class="text-decoration-none">
        <strong class="navbar-brand">CarRental</strong>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
        <div class="navbar-nav">
          {% if user.is_authenticated %}
            {% if user.is_superuser %}
              <a href="{% url 'dashboard_home' %}" class="nav-link link-info">{% trans "Dashboard" %}</a>
            {% endif %}
            <a href="{% url 'view_profile' %}" class="nav-link">{% trans "Profile" %}</a>
            <a href="{% url 'account_logout' %}" class="nav-link">{% trans "Sign Out" %}</a>
          {% else %}
            <a href="{% url 'account_login' %}" class="nav-link">{% trans "Sign In" %}</a>
            <a href="{% url 'account_signup' %}" class="nav-link">{% trans "Sign Up" %}</a>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>
</div>