{% load i18n static %}
<!DOCTYPE html>
<html data-bs-theme="dark">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {% block head_title %}
      {% endblock head_title %}
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'datatables/datatables.min.css' %}">
    {% block extra_head %}
    {% endblock extra_head %}
    <style>
      html, body {
        height: 100%;
      }
    </style>
  </head>

  <body class="bg-body-tertiary" style="padding-top: 56px;">
    {% block body %}
      <!-- Navbar -->
      {% include 'allauth/layouts/navbar_top.html' %}
      {% include 'car_rental/layouts/dashboard_sidebar.html' %}
      <div class="h-100 pt-5 pe-5" style="padding-left: 300px;">
        <div class="pb-2">
          {% block content %}
          {% endblock content %}
        </div>
      </div>
    {% endblock body %}

      <script src="{% static 'bootstrap/js/popper.min.js' %}"></script>
      <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
      <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
      <script src="{% static 'datatables/datatables.min.js' %}"></script>
      
    {% block extra_body %}
    {% endblock extra_body %}
  </body>
</html>