{% load i18n %}

<div class="container-fluid px-0">
  <nav class="navbar navbar-expand-xl bg-body-tertiary border-bottom py-3">
    <div class="container justify-content-center">
      <div class="row w-100 gy-2">
        <div class="col-6 col-md-3">
          <a href="{% url 'home' %}"
            class="btn w-100 {% if request.resolver_match.url_name == 'home' %} btn-outline-success {% else %} btn-outline-light {% endif %} me-2">
            {% trans 'Rent a car' %}
          </a>
        </div>
        <div class="col-6 col-md-3">
          <a href="{% url 'long_term_rental' %}"
            class="btn w-100 {% if request.resolver_match.url_name == 'long_term_rental' %} btn-outline-success {% else %} btn-outline-light {% endif %} me-2">
            {% trans 'Long term rent' %}
          </a>
        </div>
        <div class="col-6 col-md-3">
          <a href="{% url 'news' %}"
            class="btn w-100 {% if request.resolver_match.url_name == 'news' %} btn-outline-success {% else %} btn-outline-light {% endif %} me-2">
            {% trans 'News' %}
          </a>
        </div>
        <div class="col-6 col-md-3">
          <a href="{% url 'contact' %}"
            class="btn w-100 {% if request.resolver_match.url_name == 'contact' %} btn-outline-success {% else %} btn-outline-light {% endif %}">
            {% trans 'Contact' %}
          </a>
        </div>
      </div>
    </div>
  </nav>
</div>