{% load static i18n %}

<h3 class="fw-normal mb-3">{% trans 'Long term rentals:' %}</h3>
<table class="table w-100" id="car-long-term-rental-table">
  <thead>
    <tr>
      <th colspan="1">{% trans 'Start date' %}</th>
      <th colspan="1">{% trans 'Number of months' %}</th>
      <th colspan="1">{% trans 'Status' %}</th>
    </tr>
  </thead>
  <tbody>
    {% for rental in long_term_rentals %}
      <tr>
        <td>{{ rental.start_date|date:"d.m.Y H:m" }}</td>
        <td>{{ rental.number_of_months }}</td>
        <td>{{ rental.get_status_display }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>