{% load static i18n %}

<h3 class="fw-normal mb-3">{% trans 'Rentals:' %}</h3>
<table class="table w-100" id="car-rental-table">
  <thead>
    <tr>
      <th colspan="1">{% trans 'Car' %}</th>
      <th colspan="1">{% trans 'Cost' %}</th>
      <th colspan="1">{% trans 'Status' %}</th>
      <th colspan="1">{% trans 'Start date' %}</th>
      <th colspan="1">{% trans 'End date' %}</th>
      <th colspan="1"></th>
    </tr>
  </thead>
  <tbody>
    {% for rental in rentals %}
      <tr>
        <td>{{ rental.car }}</td>
        <td>{{ rental.total_cost.amount }} {{ rental.total_cost.currency }}</td>
        <td>{{ rental.get_status_display }}</td>
        <td>{{ rental.start_date }}</td>
        <td>{{ rental.end_date }}</td>
        <td>
          {% if rental.status == 'RS' %}
            <form method="post" data-url="{% url 'cancel_rental' %}" class="cancel-rental">
              {% csrf_token %}
              <input type="hidden" name="id" value="{{ rental.id }}">
              <button class="btn btn-danger" type="submit">{% trans 'Cancel' %}</button>
            </form>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>