{% load static i18n %}

<h3 class="fw-normal mb-3">{% trans 'Rentals:' %}</h3>
<table class="table w-100" id="car-rental-table">
  <thead>
    <tr>
      <th colspan="1">{% trans 'Car' %}</th>
      <th colspan="1">{% trans 'Cost' %}</th>
      <th colspan="1">{% trans 'Status' %}</th>
      <th colspan="1">{% trans 'Start date' %}</th>
      <th colspan="1">{% trans 'End date' %}</th>
      <th colspan="1"></th>
    </tr>
  </thead>
  <tbody>
    {% for rental in rentals %}
      <tr>
        <td>{{ rental.car }}</td>
        <td>{{ rental.total_cost.amount }} {{ rental.total_cost.currency }}</td>
        <td>{{ rental.get_status_display }}</td>
        <td>{{ rental.start_date|date:'Y-m-d H:i' }}</td>
        <td>{{ rental.end_date|date:'Y-m-d H:i' }}</td>
        <td>
          {% if rental.status == 'RS' %}
            <button class="btn btn-danger rental-button"
              data-bs-toggle="modal" data-bs-target="#cancel-modal" data-rental-id="{{ rental.id }}">
              {% trans 'Cancel' %}
            </button>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>