.car-radio {
  visibility: hidden;
  height: 0px;
  width: 0px;
}

.car-label {
  display: flex;
  text-align: center;
  cursor: pointer;
  background-color: #343a40;
  color: white;
  padding: 25px 25px;
  border-radius: 5px;
  transition: all .3s ease-out;
  min-height: 500px;
}

.car-radio:checked + .car-label{
  background-color: #25bd67;
}

.car-image {
  height: 250px;
  width: 90%;
}
